/*{
margin:0px;
padding:0px;
}*/


body {
	font-family: 'Open Sans', sans-serif;
	margin:0px;
	background-color:#E9EBEE;
}
#header{

}
#logo{

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color:#FFFFFF;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
	transition:background-color 0.4s;
	height:30px;
}

li a:hover {
    background-color:#FFFFFF;
	color:#333;
}

li:first-child{
	margin-left:10%;
}
#footer{
	height:30px;
	text-align:center;
	font-size: 10px;
}

#ts3viewer_1094423{
	margin:50px;
	background-color:#E9EBEE;
	padding:15px;
	border:2px solid #757575;
	border-radius:10px;
}
#startseite{
	background-image:url(bilder/hirev.png);
	background-repeat:no-repeat;
	background-position:center;
	height:179px;
	margin-top:20%;
}