/*{
margin:0px;
padding:0px;
}*/


body {
	font-family: 'Open Sans', sans-serif;
	margin:0px;
	background-color:#B2ADAD;
}
#header{
	background-image:url(bilder/hirev.png);
	background-repeat:no-repeat;
	background-position:center;
	height:300px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color:#F5F8FA;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
	transition:background-color 0.4s;
}

li a:hover {
    background-color:#F5F8FA;
	color:#333;
}

li:first-child{
	margin-left:10%;
}
#footer{
	height:30px;
	text-align:center;
	font-size: 10px;
}

#ts3viewer_1094423{
	margin:50px;
	background-color:#FFFFFF;
	padding:15px;
}